{% extends 'user_templates/user_base.html' %}
{% load static %}
{% block content %}


    <div class="content d-flex flex-column flex-column-fluid" id="kt_content" xmlns="http://www.w3.org/1999/html">
						<!--begin::Subheader-->
						<div  class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->
										<h5 class="text-dark font-weight-bold my-1 mr-5">Dashboard</h5>
										<!--end::Page Title-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->
								<!--begin::Toolbar-->
								<div class="d-flex align-items-center flex-wrap">
									<!--begin::Daterange-->
									<a href="#" class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 my-1 mr-3" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="top">
										<span class="opacity-60 font-weight-bolder mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
										<span class="font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 16</span>
									</a>
									<!--end::Daterange-->
								</div>
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div  class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">


    <div class="flex-row-fluid ml-lg-8">
										<!--begin::Card-->
										<div class="card card-custom card-stretch">
											<!--begin::Header-->
											<div class="card-header py-1">
												<div class="card-title align-items-start flex-column">
													<h3 class="card-label font-weight-bolder text-dark">Leave Apply</h3>
													<span class="text-muted font-weight-bold font-size-sm mt-1"></span>
												</div>
{#												<div class="card-toolbar">#}
{#													<button type="reset" class="btn btn-primary font-weight-bolder mr-2" id="leave_update">Apply</button>#}
{#													<button type="reset" class="btn btn-light-primary font-weight-bolder" onClick="window.location.reload();">Cancel</button>#}
{#												</div>#}
											</div>
											<!--end::Header-->
											<!--begin::Form-->
											<form method="POST">
												<!--begin::Body-->
                                                {% csrf_token %}
												<div class="card-body">
													<div class="row">
														<label class="col-xl-3"></label>
														<div class="col-lg-9 col-xl-6">
{#															<h5 class="font-weight-bold mb-6">Customer Info</h5>#}
														</div>
													</div>


                                                    <div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label text-right">Reason</label>
														<div class="col-lg-9 col-xl-6">
															<textarea class="form-control form-control-lg form-control-solid" id="reason" type="text" value="" >{{ edit_leave_request.reason }}</textarea>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-xl-3 col-lg-3 col-form-label text-right">Days</label>
														<div class="col-lg-9 col-xl-6">
															<input class="form-control form-control-lg form-control-solid" id="leave_days" type="text" value="{{ edit_leave_request.leave_days }}" />
														</div>
													</div>
{#                                                    <div class="form-group row">#}
{#                                                        <label class="col-xl-3 col-lg-3 col-form-label text-right" hidden>Applied Time</label>#}
{#														<div class="col-lg-9 col-xl-6">#}
{#                                                            <input type="text" class="form-control form-control-lg form-control-solid" name="start_date" id="applied_time" value="{{ edit_leave_request.current_time }}" hidden >#}
{#                                                        </div>#}
{#													</div>#}
                                                    <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Starting Day</label>
														<div class="col-lg-9 col-xl-6">
                                                            <input type="date" class="form-control form-control-lg form-control-solid" name="start_date" id="start_date" value="{{ edit_leave_request.start_date }}" >
                                                        </div>
													</div>
                                                     <div class="form-group row">
                                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Ending Day</label>
														<div class="col-lg-9 col-xl-6">
                                                            <input type="date" class="form-control form-control-lg form-control-solid" name="end_date" id="end_date" value="{{ edit_leave_request.end_date }}" >
                                                        </div>
													</div>
{#                                                    <div class="form-group row">#}
{#														<label class="col-xl-3 col-lg-3 col-form-label text-right">Description</label>#}
{#														<div class="col-lg-9 col-xl-6">#}
{#															<textarea class="form-control form-control-lg form-control-solid" id="description" type="text" >{{ edit_leave_request.description }}</textarea>#}
{#														</div>#}
{#													</div>#}
{#                                                    <div class="form-group row">#}
{#                                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Status</label>#}
{#                                                        <div class="col-lg-9 col-xl-6">#}
{#                                                            <select class="form-control form-control-lg form-control-solid" id="Billable_Status" name="Billable_Status" readonly>#}
{#                                                                <option class="form-control form-control-lg form-control-solid" selected>{{ edit_leave_request.Billable_Status}}</option>#}
{#                                                                <option class="form-control form-control-lg form-control-solid">full day</option>#}
{#                                                                <option class="form-control form-control-lg form-control-solid">half day</option>#}
{#                                                            </select>#}
{#                                                         </div>#}
{#                                                </div>#}
                                                    <div>

                                                        <input class="form-control form-control-solid form-control-lg" value="{{ request.user.emp_id }}" id="emp_id" name="emp_id" type="hidden" placeholder="Current Password" />
                                                        <input class="form-control form-control-solid form-control-lg" value="{{ request.user.username }}" id="username" name="username" type="hidden" placeholder="Current Password" />
                                                        <input class="form-control form-control-solid form-control-lg" value="{{ edit_leave_request.id}}" id="id" name="username" type="hidden" placeholder="Current Password" />
                                                    </div>
                                                </div>
 <hr>
                                                <div align="center">
                                            <button type="button" id="resend_leave_apply" class="btn btn-primary font-weight-bolder mr-2">Re Send</button>
{#                                             <button type="button"  class="btn btn-danger font-weight-bolder mr-2" data-toggle="modal" data-target="#modalLoginForm">Reject</button>#}
                                        </div>
                                                <br>
											</form>


										</div>
									</div>



								<!--begin::Dashboard-->
								<!--begin::Row-->
								<!--end::Dashboard-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
									</div>
    <script src="{% static 'js/user_page_js/delete_leave_request.js' %}"></script>
    <script>

     $(document).ready(function(){

    $(document).on('click', '#resend_leave_apply', function(){

        var time=new Date();
        var current_time=time.getHours()+":"+time.getMinutes()+" "+time.getDate()+"-"+time.getMonth()+"-"+time.getFullYear();
         var id = $("#id").val();
        var emp_id = $("#emp_id").val();
        var username = $("#username").val();
        var reason = $("#reason").val();
        var leave_days = $("#leave_days").val();
        var start_date = $("#start_date").val();
        var end_date = $("#end_date").val();
        {#var description = $("#description").val();#}
        {#var Billable_Status =  $("#Billable_Status").val();#}
        var status = 'request';
{#alert(emp_id)#}

          if(reason =="" || start_date =="" || end_date =="" ){
            alert("Please complete field");
             {#alert(gender);#}

        }else{

            $.ajax({
                type: "POST",
                url: "{%  url 'resend_leave_apply' %}",
                data:{
                    id:id,
                     emp_id:emp_id,
                    username: username,
                    reason:reason,
                    leave_days: leave_days,
                    start_date:start_date,
                    end_date:end_date,
                    {#description:description,#}
                    {#Billable_Status:Billable_Status,#}
                    current_time:current_time,
                    status:status,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (html){
                                  Swal.fire({
                                    title: "Success",
                                    text: "Successfully Applied...!",
                                    icon: "success",
                                    showConfirmButton: false,
                                    timer:1500
                                }).then(function () {
                                    window.location.href="{%  url 'leave_apply_table' %}"
                                });
                // $("#cloc").removeAttr("disabled", "disabled");
            },
                error:function (){
                    alert("error");
                }
            });
          }

    });
});
    </script>
{% endblock content %}