{% extends 'lead/lead_base.html' %}
{% load static %}

   {% block content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" crossorigin="anonymous">
	</script>

     <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div  class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->
{#										<h5 class="text-dark font-weight-bold my-1 mr-5">Dashboard</h5>#}
                                        <!--<a href="{% url 'timesheet_draft' %}">-->
                                        <!--<button type="button" class="text-hover-dark btn btn-success btn-hover-bg-warning position-relative"><i class="text-hover-dark flaticon2-sms"></i>Draft<span style="top: -12px !important;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-hover-success bg-warning">-->
                                        <!--<span  class="visually-hidden">  {{ count }} {{ hours }}</span>-->
                                        <!--  </span></button>-->
                                        <!--    &nbsp;&nbsp;&nbsp;-->
                                        <!--</a>-->
										<!--end::Page Title-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->
								<!--begin::Toolbar-->
								<div class="d-flex align-items-center flex-wrap">
									<!--begin::Daterange-->
									<a href="#" class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 my-1 mr-3" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="top">
										<span class="opacity-60 font-weight-bolder mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
										<span class="font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 16</span>
									</a>
									<!--end::Daterange-->
								</div>
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div  class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">


    <div class="flex-row-fluid ml-lg-8">
										<!--begin::Card-->
										<div class="card card-custom card-stretch">
											<!--begin::Header-->
											<div class="card-header py-1">
												<h3 class="text-info text-hover-dark font-weight-bold mt-5 mb-5 mr-10  flaticon2-pen ">Edit Timesheet Details:</h3>
{#                                        <button type="button" class="btn btn-primary">  {% for x in total_user %}<center><h4>Total Hours : {{ x.hours |date:'H:i:s'}}</h4></center>{% endfor %}</button>#}


{#                                                <span  class="flaticon-stopwatch icon-2x mt-5 mb-3 mr-0">{% for x in total_user %}<h4 style="color: rgba(6,7,7,0.79)"  class="label label-warning label-inline mr-10 label-xl"><b >Total Hours : {{ x.hours |date:'H:i:s'}}</b></h4>{% endfor %}</span>#}
											</div>
											<!--end::Header-->
											<!--begin::Form-->

<form class="form" enctype='multipart/form-data' action="" method="post" id="pic">
                                                                {% csrf_token %}
																<div class="row justify-content-center">
																	<div class="col-xl-9">

																		<div class="my-5 step" data-wizard-type="step-content" data-wizard-state="current">
																			<h4 class="text-dark font-weight-bold mb-10"></h4>


                                                                                     <div  class="form-group row">
																				<label class="col-xl-3 col-lg-3 col-form-label">Project Name and Code*</label>
																				<div class="col-lg-9 col-xl-9">

                                                                                        <select class="form-control select2" id="project_name" name="project_name" class="form-control select2 ">
                                                                                             <option selected disabled>{{ edit_timesheet.project_name }}-{{ edit_timesheet.project_code }}</option>
                                                                                                {% for values in project_code_name %}
                                                                                                    <option hidden class="" data-jobname="{{ values.job_name }}" data-projectcode="{{ values.project_code }}" data-projectname="{{ values.project_name }}"value="{{ values.project_name }} {{values.project_code }}">{{ values.project_name }}-{{values.project_code }}</option>
                                                                                                          {% if edit_timesheet.project_name != values.project_name %}
                                                                                                     <option class="" data-jobname="{{ values.job_name }}" data-projectcode="{{ values.project_code }}" data-projectname="{{ values.project_name }}"value="{{ values.project_name }} {{values.project_code }}">{{ values.project_name }}-{{values.project_code }}</option>
                                                                                                      {% endif %}
                                                                                                    {% endfor %}

                                                                                        </select>
                                                                                </div>
																			</div>

																			<div class="form-group row ">
																				<label class="col-xl-3 col-lg-3 col-form-label">Job Name *</label>
																				<div class="col-lg-9 col-xl-9">
																					<input readonly class="form-control form-control-solid form-control-lg " id="job_name" name="job_name" type="text" value="{{ edit_timesheet.job_name }}" placeholder="" />
																					<span style="display: none;border-color: red" class="form-text text-danger error_text_first_name">Task Name required...</span>
                                                                                </div>
																			</div>

																			<div class="form-group row ">
																				<label class="col-xl-3 col-lg-3 col-form-label">Task Name *</label>
																				<div class="col-lg-9 col-xl-9">
																					<input  class="form-control form-control-solid form-control-lg " id="task_name" name="task_name" type="text" value="{{ edit_timesheet.task_name }}" placeholder="What work assigned for you?" />
																					<span style="display: none;border-color: red" class="form-text text-danger error_text_first_name">Task Name required...</span>
                                                                                </div>
																			</div>

                                                                            <div class="form-group row">
																				<label class="col-xl-3 col-lg-3 col-form-label">Date *</label>
																				<div class="col-lg-9 col-xl-9">
																					<input class="form-control form-control-solid form-control-lg" id="date" name="date" type="date" value="{{ edit_timesheet.today_date }}" placeholder="Date of Timesheet" />
																					<span style="display: none;border-color: red" class="form-text text-danger error_text_last_name">Date required...</span>
                                                                                </div>
																			</div>
                                                                            <div class="form-group row">
																				<label class="col-xl-3 col-lg-3 col-form-label">Total Hours *</label>
																				<div class="col-lg-9 col-xl-9">
																					<input class="form-control form-control-solid form-control-lg" id="total_hours" name="total_hours" type="text" value="{{ edit_timesheet.hours }}" placeholder="00:00:00" />
																					<span style="display: none;border-color: red" class="form-text text-danger error_text_last_name">Total Hours required...</span>
                                                                                </div><script>
		                                                                                $('input[name="total_hours"]').mask('00:00:00');
                                                                                </script>
																			</div>
                                                                            <div class="form-group row">
																				<label class="col-xl-3 col-lg-3 col-form-label">Description *</label>
																				<div class="col-lg-9 col-xl-9">
                                                                                    <textarea class="form-control form-control-solid form-control-lg" id="description" name="description" type="text" value="" placeholder="Describe what you done today 😉?" >{{ edit_timesheet.description }}</textarea>
																					<span style="display: none;border-color: red" class="form-text text-danger error_text_last_name">Description required...</span>
                                                                                </div>
																			</div>

                                                                            <div class="form-group row">
                                                                                      <label class="col-xl-3 col-lg-3 col-form-label">Image</label>
																				<div class="col-lg-9 col-xl-9">
                                                                                     <div class="fallback">
                                                                                         <input name="image" type="file"  multiple />
                                                                                         </div>
                                                                                         </div>
                                                                                </div>
                                                                                                        <input id="id" type="hidden" value="{{ edit_timesheet.id }}">
																			</div>
                                                                   <hr>
                                                                          <div>
                                                                               <button style="float: left;" class=" btn btn-dark" onclick="history.back()" type="button"  ><i class="text-hover-success flaticon2-back"></i>Go Back</button>
                                                                                <button style="float: right;" class="btn btn-skype" type="submit" id="edit_timesheet_final" name="edit_timesheet_final"><i class="flaticon2-paper-plane"></i>Submit</button>



{#<button  class="btn btn-twitter" type="submit" id="timesheet_submit" name="timesheet_submit"><i class="flaticon2-paper-plane"></i>Submit</button>#}
																			<!--end::Group-->

																		</div>

{#                                                                        <div class="d-flex justify-content-center border-top pt-10 mt-15">#}
{#                                                                            <a href="#" class="btn btn-instagram ">Back</a> &nbsp;&nbsp;&nbsp;#}
{#                                                                            <button  class="btn btn-twitter" type="submit" id="timesheet_submit" name="timesheet_submit"><i class="flaticon2-paper-plane"></i>Submit</button>#}
<!--{#                                                                            <a href="{% url 'display_user' %}"  class="btn btn-twitter" type="button" id="create" name="create">Show Users</a>#}-->
                                                                        </div>
																		<!--end::Wizard Actions-->


															</form>

										</div>
									</div>



								<!--begin::Dashboard-->
								<!--begin::Row-->
								<!--end::Dashboard-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>

<script>

$(document).ready(function (){
   $(document).on("change", "#project_name", function (){
        var jobname = $(this).find("option:selected").data("jobname");
        var projectcode = $(this).find("option:selected").data("projectcode");
        $("#job_name").val(jobname);
        $("#project_code").val(projectcode);
   });
   });
</script>

       <script>
$("#edit_timesheet_final").click(function (event) {
                event.preventDefault();


                var id = $("#id").val();
                var project_name = $("#project_name").find("option:selected").data("projectname");
                var project_code = $("#project_name").find("option:selected").data("projectcode");
                var job_name = $("#project_name").find("option:selected").data("jobname");
                var task_name = $("#task_name").val();
                var date = $("#date").val();
                var total_hours = $("#total_hours").val();
                var description = $("#description").val();
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                if (project_name == "" || job_name=="" || task_name=="" || job_name == "" || date == "" || total_hours == "" ||  description == "") {
                  Swal.fire({
                         title: "error",
                         text: "Fill all the fields",
                         icon: "info",
                         showConfirmButton: false,
                         timer: 800
                     })
                }
                // Get form
                else{
                var form = $('#pic')[0];
                {#console.log(form);#}

                // Create an FormData object
                var data = new FormData(form);
                data.append('project_code', $("#project_name").find("option:selected").data("projectcode"));
                data.append('project_name', $("#project_name").find("option:selected").data("projectname"));
                    {#console.log(data);#}
             $.ajax({
                 type: "POST",
                 url: 'timesheet_edit_data_values/' + id,
                 headers: {'X-CSRFToken': csrftoken},
                 enctype: 'multipart/form-data',
                 data: data,
                    processData: false,
                    contentType: false,
                    cache: false,

                 success: function () {
                     Swal.fire({
                         title: "Success",
                         text: "Done",
                         icon: "success",
                         showConfirmButton: false,
                         timer: 500
                     }).then(function () {
                          window.location.href="{%  url 'timesheet_draft' %}"
                     });
                 },
                 error: function (){
                      alert("error!");
                 }
             });
         }

});
</script>

       <script>
            // Class definition
var KTSelect2 = function() {
 // Private functions
 var demos = function() {
  // basic
  $('#project_name').select2({
   placeholder: "Select a state"
  });

  // nested
  $('#kt_select2_2').select2({
   placeholder: "Select a state"
  });

  // multi select
  $('#kt_select2_3').select2({
   placeholder: "Select a state",
  });

  // basic
  $('#kt_select2_4').select2({
   placeholder: "Select a state",
   allowClear: true
  });

  // loading data from array
  var data = [{
   id: 0,
   text: 'Enhancement'
  }, {
   id: 1,
   text: 'Bug'
  }, {
   id: 2,
   text: 'Duplicate'
  }, {
   id: 3,
   text: 'Invalid'
  }, {
   id: 4,
   text: 'Wontfix'
  }];

  $('#kt_select2_5').select2({
   placeholder: "Select a value",
   data: data
  });

  // loading remote data

  function formatRepo(repo) {
   if (repo.loading) return repo.text;
   var markup = "<div class='select2-result-repository clearfix'>" +
    "<div class='select2-result-repository__meta'>" +
    "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";
   if (repo.description) {
    markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
   }
   markup += "<div class='select2-result-repository__statistics'>" +
    "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
    "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
    "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
    "</div>" +
    "</div></div>";
   return markup;
  }

  function formatRepoSelection(repo) {
   return repo.full_name || repo.text;
  }

  $("#kt_select2_6").select2({
   placeholder: "Search for git repositories",
   allowClear: true,
   ajax: {
    url: "https://api.github.com/search/repositories",
    dataType: 'json',
    delay: 250,
    data: function(params) {
     return {
      q: params.term, // search term
      page: params.page
     };
    },
    processResults: function(data, params) {
     // parse the results into the format expected by Select2
     // since we are using custom formatting functions we do not need to
     // alter the remote JSON data, except to indicate that infinite
     // scrolling can be used
     params.page = params.page || 1;

     return {
      results: data.items,
      pagination: {
       more: (params.page * 30) < data.total_count
      }
     };
    },
    cache: true
   },
   escapeMarkup: function(markup) {
    return markup;
   }, // let our custom formatter work
   minimumInputLength: 1,
   templateResult: formatRepo, // omitted for brevity, see the source of this page
   templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
  });

  // custom styles

  // tagging support
  $('#project_name2_1, #project_name2_2, #project_name2_3, #project_name2_4').select2({
   placeholder: "Select an option",
  });

  // disabled mode
  $('#kt_select2_7').select2({
   placeholder: "Select an option"
  });

  // disabled results
  $('#kt_select2_8').select2({
   placeholder: "Select an option"
  });

  // limiting the number of selections
  $('#kt_select2_9').select2({
   placeholder: "Select an option",
   maximumSelectionLength: 2
  });

  // hiding the search box
  $('#project_name0').select2({
   placeholder: "Select an option",
   minimumResultsForSearch: Infinity
  });

  // tagging support
  $('#project_name1').select2({
   placeholder: "Add a tag",
   tags: true
  });

  // disabled results
  $('.kt-select2-general').select2({
   placeholder: "Select an option"
  });
 }

 var modalDemos = function() {
  $('#kt_select2_modal').on('shown.bs.modal', function () {
   // basic
   $('#project_name_modal').select2({
    placeholder: "Select a state"
   });

   // nested
   $('#kt_select2_2_modal').select2({
    placeholder: "Select a state"
   });

   // multi select
   $('#kt_select2_3_modal').select2({
    placeholder: "Select a state",
   });

   // basic
   $('#kt_select2_4_modal').select2({
    placeholder: "Select a state",
    allowClear: true
   });
  });
 }

 // Public functions
 return {
  init: function() {
   demos();
   modalDemos();
  }
 };
}();

// Initialization
jQuery(document).ready(function() {
 KTSelect2.init();
});
       </script>

{% endblock content %}

